@import 'tailwindcss';

:root {
  --primary: rgb(10, 10, 10);
  --background: rgb(255, 255, 255);
  --accent: #f00;
}

.dark {
  --primary: rgb(255, 255, 255);
  --background: rgb(10, 10, 10);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
}
