@import 'tailwindcss';

:root {
  --primary: #000;
  --background: #fff;
  --accent: #f00;
}

.dark {
  --primary: #fff;
  --background: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
}
