@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

:root {
  --primary: oklch(14.5% 0 0);
  --background: oklch(92.2% 0 0);
  --accent: #f00;
}

.dark {
  --primary: oklch(92.2% 0 0);
  --background: oklch(14.5% 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-handwrite: var(--font-handwrite);
}
