@import "tailwindcss";

:root {
  --primary: hsl(0, 0%, 4%);
  --background: hsl(0, 0%, 96%);
  --accent: hsl(349, 91%, 43%);
  --shadow-inset:
    inset 2px 2px 6px hsl(0 0% 0% / 0.15),
    inset -2px -2px 6px hsl(0 0% 100% / 0.7);
}

.dark {
  --primary: hsl(0, 0%, 96%);
  --background: hsl(0, 0%, 4%);
  --shadow-inset:
    inset 2px 2px 6px hsl(0 0% 100% / 0.3),
    inset -2px -2px 6px hsl(0 0% 100% / 0.15);
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
}

@utility debug {
  background-color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.25) 0,
    rgba(255, 0, 0, 0.25) 10px,
    transparent 10px,
    transparent 20px
  );
}

@utility shadow-inset {
  box-shadow: var(--shadow-inset);
}
